*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(245, 248, 255); 
}

/* Raleway font----- */
.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Inter font--------- */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared style--------- */
.banner-and-title-used-secondary {
    color: #252432;
}

.btn-primary {
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    font-weight: 700;
    font-size: 16px;
}

.text {
    color: #252432;
}

button:hover{
    background-color: goldenrod;
    color: black;
}



/* header style----------- */
header {
    background-image: url('./Assets/Hero-bg.png');
    height: 600px;


}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
     width: 1140px;
     height: 120px;
    
}

nav .logo {
    font-size: 34px;
    color: #4E47FF;
    font-weight: bolder;
}

/* banner style---- */
.banner {
   max-width: 900px;
    margin: 150px 260px;
    text-align: center;
    height: 237px;
    
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}

/* main style----- */
main {
    max-width: 1140px;
    margin: 0 auto;
}
    

/* web flow style------ */
.web-flow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 23px;
    height: 328px;
    margin-top: 100px;
     
    
}

.web-flow-text-container{
    width: 500px;
}

.web-flow-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 23px;
}

.web-flow-sub-title {
    font-size: 24px;
    opacity: 50%;
    margin-bottom: 23px;
}

.web-flow-image {
    border-radius: 48px;
    width: 400px;

}

/* productive-users style----- */
.productive-users{
background: rgba(78, 71, 255, 0.1);
margin-top: 100px;
border-radius: 24px;
padding: 50px 80px 50px 80px;

}

.productive-users-elements-container{
    width: 850px;
    margin: 0 auto;
    
}

.productive-users-title{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;

    
}

.productive-users-stat{
    display: flex;
    justify-content: space-between;
    
}

.productive-users-stat h1{
    color: #4E47FF;
    font-weight: 700;
    font-size: 80px;
}

.productive-users-stat p{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Get In Touch styles----- */
.lets-get-in-touch{
    height: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 71px 0px 71px 0px;
}


.touch-title-container{
    width: 70%;
    align-items: center;
}
.get-in-touch-title{
     font-size:97px;
    font-weight: 700;
    
}

.form-container{
    width: 30%;
}

.form-container form{
    width: 100%;
}

.form-container button{
    width: 100%;
}


.lets-get-in-touch input[type='text'], .lets-get-in-touch input[type='email'], .lets-get-in-touch textarea{
    display: block;
    height: 70px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 19px;
    border: 1px solid rgb(214, 221, 237);   
    
}

::placeholder{
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
}


/* footer styles---- */
footer{
    width: 100%;
    height: 400px;
    margin-top: 14px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    width: 530px;
    height: 220px;
    text-align: center;
}

footer .footer-logo{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
}

 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    gap: 30px;
 }

 ul a{
    text-decoration: none;
 }

 ul li{
    list-style: none;
 }


.footer-container a, p{
    color: #8987A1;
    font-weight: 400;
    font-size: 16px;
}

