/* shared style--------- */
.logo-and-button-primary{
    color: #4E47FF;
}

.banner-and-title-used-secondary{
    color: #252432;
}

button{
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

/* header style----------- */
header{
    background-image: url('./Assets/Hero-bg.png');
}

nav{
    display: flex;
    
}